.pagination button {
    padding: 10px 25px;
    background-color: #888888;
    border-radius: 5px;
    font-size: 1.8rem;
    color: white;
    display: flex;
}

.pagination-icon {
    margin-top: 3px;
    margin-left: 5px;
}